<div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">© 2021 Hwarang Heroes and Legends. All Rights Reserved.</div>
        </div>
    </div>