<div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">© 2021 HWARANG HEROES AND LEGENDS AWARD. ALL RIGHTS RESERVED.</div>
        </div>
    </div>