{{> header}}

  {{!-- accouncements/blog/writing --}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 style="text-align: center;">Announcements</h1>
        </div>
    </div>
    <div class="col-md-2"></div>
    {{!-- This is a loop of announcement (ONLY IF FIRST) --}}
    <hr class="center-fit" style="width: 90%;"> 
    <br/>
  </div>

<div class="row">
  <div class="col-md-12">
      <div class="card text-white top-announcement" style="justify-content: center;">
        <div class="blurb">
              <div class="sublead">
              <p style="font-size: 25px;">For the latest coverage for Hwarang Heroes and Legends Awards</p>
            </div>
          
              <form id="11" method="POST" action="blogs_hold">
                  <h1 class="hover-announcments"><input id="blogs_announcements"  type="submit" name="submit" value="Blogs and Writings"></h1>
                </form>
        </div>
      </div>

      <br/>

      <div class="card text-white bottom-announcement" style="justify-content: center;">
        <div class="blurb">
              <div class="sublead">
              <p style="font-size: 25px;">Upcoming events for Hwarang Heroes and Legends Awards</p>
            </div>
          
              <form id="11" method="POST" action="events_hold">
                  <h1><input  id="blogs_announcements" type="submit" name="submit" value="Events"></h1>
              </form>
        </div>
      </div>
  </div>
</div>

<br/>
<br/>

{{> footer}}


