{{> header}}

  {{!-- accouncements/blog/writing --}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 style="text-align: center;">Announcements</h1>
        </div>
    </div>
    <div class="col-md-2"></div>
      <br/>
      <br/>
    {{!-- This is a loop of announcement (ONLY IF FIRST) --}}
    <hr class="center-fit" style="width: 85%;"> 
    <br/>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
       <img style="max-width:100%; max-height:100%;" src="https://static01.nyt.com/images/2021/05/14/climate/14CLI-GRID-print1/12CLI-GRID1-superJumbo.jpg?quality=90&auto=webp">
    </div>
      <div class="col-md-5">
        <h1 style="text-align: center;">Pipeline Hack Points to Growing Cybersecurity Risk for Energy System</h1>
          <br/>
        <p style="font-size: 20px;">WASHINGTON — The audacious ransomware attack that shut down a major fuel pipeline and sent Americans scrambling for gasoline in the Southeast this week was not the first time hackers have disrupted America’s aging, vulnerable energy infrastructure. And it’s unlikely to be the last.</p>
        <p style="font-size: 20px;">Across the globe, cyberattackers are increasingly taking aim at the energy systems that underpin modern society. A February report from IBM found that the energy industry was the third most targeted sector for such attacks in 2020, behind only finance and manufacturing. That was up from ninth place in 2019.</p>
        <p style="font-size: 20px;">“This should be a wake-up call,” said Jonathon Monken, a principal at the energy consulting firm Converge Strategies. “When you look at what’s most likely to cause disruptions to energy companies today, I think you have to put cybersecurity risks at the top.”
      </div>
      <div class="col-md-1"></div>
    </div>
    <br/>
    <hr class="center-fit" style="width: 85%;"> 
    {{!-- This is a loop of announcement --}}

    {{!-- This is a loop of announcement --}}
    <br/>
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 style="text-align: center;">Israeli strike destroys Gaza tower housing media organisations</h1>
              <br/>
            <p style="font-size: 20px;">The Israeli air force has destroyed a tower block in Gaza City housing the offices of the Associated Press and Al Jazeera in what has widely been decried as an attack on press freedom.</p>
            <p style="font-size: 20px;">The airstrikes on Saturday – the sixth consecutive day of hostilities between Israel and Hamas – came roughly an hour after the Israeli military ordered people to evacuate al Jalaa tower.</p>
            <p style="font-size: 20px;">There was no immediate explanation beforehand for why the 15-storey building was targeted. As well as the two international media organisations, the high-rise was home to several other media outlets, offices including several internet providers, and private apartments.</p>
        </div>
      <div class="col-md-5">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TtJs4Z-jWso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br/>
      <hr class="center-fit" style="width: 85%;"> 
    <br/>
    {{!-- This is a look of announcement --}}

     {{!-- This is a look of announcement --}}
    <br/>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
       <img style="max-width:100%; max-height:100%;" src="https://i.guim.co.uk/img/media/e3091f07302d57e15fbc92f4fe17f4bfd552938f/0_0_4657_2882/master/4657.jpg?width=940&quality=85&auto=format&fit=max&s=290d9a8478271131bb1e3a06e11e8480">
    </div>
      <div class="col-md-5">
        <h1 style="text-align: center;">‘I saw death coming’: Romain Grosjean pushes on in IndyCar after F1 wreck</h1>
          <br/>
        <p style="font-size: 20px;">For some racing drivers hand blisters are an occasional nuisance. For Romain Grosjean they have become a constant menace, ever poised to loosen his grip and send his bold move from Formula 1 to IndyCar spiraling off course. Heading into IndyCar’s season-opening test in February, the 35-year-old Franco-Swiss wasn’t confident his tender mitts could hold his No 51 Honda-powered Dale Coyne Racing machine on the 2.3-mile, 17-turn circuit at Birmingham, Alabama’s Barber Motorsports Park for long without making blood bags out of his racing gloves. So Grosjean, who races under the French flag, consulted with two close compatriots he thought might have some handy advice.</p>  
      </div>
      <div class="col-md-1"></div>
    </div>
    <br/>
    <hr class="center-fit" style="width: 85%;"> 
    <br/>


     {{!-- This is a look of announcement --}}


  </div>

</div>

{{!-- conversations with heroes nad legends at the bottom --}}