<div class="container-fluid" style="padding: 0px !important;">
  <div class="row">
    <div class="col-md-12">
      <br/>
       <a href="#"><img id="title-logo-second" class="center" src="images/hwarang_background.png" alt="Logo"></a>
      <br/>
    </div>
    <hr class="center" style="width: 90%;">
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <ul class="nav justify-content-center">
        <li>
          <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
              </button>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
          <a href="announcements" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Announcements
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="announcements">Blogs &amp; Writings</a>
            <a class="dropdown-item" href="#">Events</a>
          </div>
      </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn" href="" >Hwarang Foundation</a>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prizes and Honorees</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nominations
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Science, Technology, Engineering, and Mathematics (STEM)</a>
            <a class="dropdown-item" href="#">Medicine</a>
            <a class="dropdown-item" href="#">Enviornmental Service</a>
            <a class="dropdown-item" href="#">Huminatarian Servie &amp; Education</a>
            <a class="dropdown-item" href="#">International Relation</a>
          </div>
      </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Photos	&amp; Videos
            </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Press &amp; Media</a>
          </div>
      </div>
        </li>
      </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voting</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Member Login</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <img style="height: 2rem;" src="images/user-profile.png">
            </div>
          </li>
        </ul>
    </div>
  </div>
  <hr class="center" style="width: 90%;">
  
  <br/>
  <br/>

  {{!-- accouncements/blog/writing --}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
       <img style="max-width:100%; max-height:100%;" src="/images/media_v7Ks0oNHI1.png">
    </div>
      <div class="col-md-6">
        <p>등학교에 다니는 한인 2세들에게 온라인에서 한국어를 가르치는 한국내 외국인학교 학생들이 있다.
        LA에 본부를 둔 화랑청소년재단(총재 박윤숙) 한국 지부인 ‘세나 화랑’ 소속 학생 16명은 지난달 14일부터 캘리포니아 지역에 있는 한인 초등학생 3명씩을 맡아 첫 수업을 진행했다. 9일 현재 2회차 수업을 마쳤고, 10주 동안 이어갈 계획이다.
        ‘새로운’이라는 뜻의 ‘세나’는 2016년 한국외국인학교(KIS) 판교 캠퍼스에 설립됐다. 현재 33명의 화랑 단원이 활동하고 있다. 그동안 국내 교육원과 교회, 장애인 복지관 등을 돌며 아이들에게 영어를 가르치는 봉사를 했고, 이번에 온라인 플랫폼(SOS)에서 재미동포 초등생들을 위한 한국어 교육 봉사를 시작했다.
        봉사는 ‘화랑 실리콘 밸리’와 협력해 이뤄진다. 세나가 계획을 세워 수업을 진행하고, 실리콘밸리는 학생 관리와 모집을 담당한다.
        모집 예상 인원은 24명이었지만, 관심과 성원에 힘입어 하루 만에 무려 50명의 학생이 참가 신청서를 제출했다고 한다.
        11학년에 재학하는 최윤혁 세나 회장은 연합뉴스와 인터뷰에서 “코로나19로 봉사가 중단됐고, 딱히 봉사할 곳도 없었는데 단원들이 고민 끝에 한국어를 가르치는 일에 착안했다”고 말했다.</p>
      </div>
    </div>
  </div>

</div>

{{!-- conversations with heroes nad legends at the bottom --}}