{{> header}}


           <div class="row">
              <div class="col-md-12">
                <h1 style="text-align: center;">Nominations for {{category}} </h1>
              </div>
              <hr class="center" style="width: 90%;">
            </div>

            <div class="row">
              <div class="col-md-12 cover-nomination-category">
              </div>
            </div>

            <br/>
            <br/>

         
{{>footer}}
