{{> header}}
<br />

<div class="row">
  <div class="col-md-12">
    <h1 style="text-align: center;">The Hwarang Foundation</h1>
    <br />
  </div>
  <hr class="center" style="width: 90%;">
</div>

<div class="row">
  <div class="col-md-12 cover-foundation">
  </div>
</div>


<section class="background-grey">
  <br/>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 style="text-align: center;">
      The Hwarang Foundation, a non-profit organization established in 2020 to recognize and to honor our Korean
      American community Heroes and Legends. Our "Heroes" are ordinary persons who provided extraordinary contributions
      and services to our Korean American community. Our "Legends" are the ones with significant professional
      achievements that made a tremendous impact on our society, community, and peace. Our younger generations, Hwarang
      youth members and its committee, will carefully research, review, and select our monthly Heroes and Legends by
      focusing on their visions, perspectives, and understandings to recognize the greatest example of inspiration and
      motivation. Hwarang Heroes and Legends celebrate generosity, services, and lifetime achievements of these
      exceptional individuals through short documentary films and publications. In particular, we will further
      acknowledge their positive impact on our younger generations at our annual award gala, celebrating the
      contributions and achievements of this year’s nominees for our "Legend of Legends" award
    </h3>
  </div>
  <div class="col-md-2"></div>
</div>
</section>

<br/>
<br/>





<div class="row">
  <div class="col-md-12">
    <img class="center" src="/images/founder1.jpg">
  </div>
  <div class="col-md-12">
    <br/>
    <h2 style="text-align: center;">Founder of Hwarang Heroes and Legends Awards</h2>
  </div>
  <div class="col-md-12">
    <h2 style="text-align: center;">-</h2>
  </div>
  <div class="col-md-12">
    <h2 style="text-align: center;">Howard Park</h2>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h3>For a Better and Peaceful World</h3>
    <br />

    <p>The Hwarang Youth Foundation is a youth non-profit organization program that seeks to instill pride in its
      members, develop and train future leaders, and contribute to thecommunity.

      <p>First and foremost, Hwarang is a service organization; its members help out not only the nearby community but
        also the world as a whole, with various initiatives to send medical supplies to third-world countries, conduct
        educational outreach programs, and provide optical assistance to the visually challenged. Hwarang members are
        also committed to helping the environment to the benefit to the community: they participate in activities like
        cleaning up waterways, planting trees, and protecting the ocean. Such service to the community not only helps
        others, but is also a valuable training source for future leadership roles.</p>

      <p>Hwarang is about more than just doing good things; it teaches an entire way of living life. With the fast-paced
        world and temptations of the internet, it is easy for teenagers to lose track of meaningful things in life. For
        this reason, members of Hwarang live by the Five Beliefs of Hwarang: Love of Family, Love of Nation, Love of
        Neighbors, Love of Justice, and Love of Peace. By remembering what’s important, Hwarang members develop into
        future leaders and decision makers who are virtuous and value harmony.</p>

      <p>Hwarang welcomes everyone, but it can be especially worthwhile for first-generation students born in a foreign
        country. Developing a strong social identity while acknowledging one’s roots can be a difficult balancing act
        for recent immigrants; Hwarang helps students find themselves and become valuable members of their new
        communities.</p>

      <p>Finally, our service and mentorship continues as refined leaders to train and persistently continue our spirit
        to the general public and to our members. Unification of 25 Hwarang chapter is in collusion in task as in local
        events to international affairs to help and serve the community and unfurl the ethos and scale in collaborative
        manners. As our five belief of Hwarang illuminates our principle through our unique leadership, with faith and
        trust, in the name of Hwarang we believe to spread the unalienable rights among them life, beneficial, and the
        pursuit of a more perfect union towards our community.</p>
  </div>
  <div class="col-md-3" style="border-left: 1px solid black;">
    <h3>Quick Facts</h3>
    <br />
    <ul class="foundation-list" style="list-style-type: circle;">
      <li class="foundation-list" style="list-style-type: circle;">Born on February 4, 1952</li>
      <li class="foundation-list" style="list-style-type: circle;">Founded Hwarang Youth Foundation, Save our Society,
        and Hwarang Foundation</li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>

<br>

<section class="background-grey">
  <div class="row">
    <h1 style="text-align: center;">History of Hwarang Youth Foundation and Heroes and Legends Award</h1>
    <section class="timeline">
      <div class="container">
        
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h2>2006</h2>
            <p>Established in December of 2006 with 208 members by Howard Park</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInRight">
            <h2>2007</h2>
            <p>Palos Verdes and San Fernando Valley Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h2>2008</h2>
            <p>Burbank and Chino Hills Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInRight">
            <h2>2009</h2>
            <p>East Land, Redondo Beach, and Gateway Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h2>2010</h2>
            <p>Glory, Hancock park, South Bay, and Beverly Hills Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInRight">
            <h2>2011</h2>
            <p>Green Valley Chapter is chartered</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h2>2012</h2>
            <p>KOCEN (Koreatown Central) Chapter is chartered</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInRight">
            <h2>2013</h2>
            <p>Torrance, Amerige, and East Hills Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInLeft">
            <h2>2014</h2>
            <p>Sunnyridge, Fleo, Spectrum, and Healers Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInRight">
            <h2>2015</h2>
            <p>GIVE and Horizon Chapters are chartered</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInLeft">
            <h2>2016</h2>
            <p>Socal, Westridge, Sena(Korea), Guatemala, and El Salvador Chapters are chartered</p>
            <br />
            <p>Hwarang Youth Foundation celebrates its ten year anniversary</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInRight">
            <h2>2017</h2>
            <p>Pioneer, Ukraine, New Zealand, Korea Chadwick, Boston, and Hawaii Chapters are chartered </p>
            <br />
            <p>Hwarang Youth Foundation held its First Annual Charity Gala</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInLeft">
            <h2>2017</h2>
            <p>Pioneer, Ukraine, New Zealand, Korea Chadwick, Boston, and Hawaii Chapters are chartered </p>
            <br />
            <p>Hwarang Youth Foundation held its First Annual Charity Gala</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInLeft">
            <h2>2018</h2>
            <p>Palo Alto, San Jose, Saratoga, Cupertino chapters are chartered in Northern California </p>
            <br />
            <p>AdLPHS and Busig-on Chapters are chartered in the Philippines</p>
            <br />
            <p>First Hwarang School is established</p>
            <br />
            <p>Jungsoori Chapter is chartered in Ukraine</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInLeft">
            <h2>2019</h2>
            <p>South Pasadena High School charters a Hwarang Chapter</p>
          </div>
        </div>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content js--fadeInLeft">
            <h2>2020</h2>
            <p>Hwarang Foundation is formed</p>
            <br />
            <p>The first Hwarang Heroes and Legends Awards are awarded</p>
          </div>
        </div>



      </div>
    </section>
  </div>
</section>

{{> footer}}