
<div class="container-fluid" style="padding: 0px !important;">
  <div class="row">
    <div class="col-md-12">
      <br/>
       <a href="#"><img id="title-logo-second" class="center" src="images/hwarang_background.png" alt="Logo"></a>
      <br/>
    </div>
  </div>

  <hr class="center" style="width: 90%;">
  
  <div class="row">
    <div class="col-md-7">
      <ul class="nav justify-content-center">
        <li>
          <div class="btn-group">
            <a href="/" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="announcements" class="btn" type="button" aria-haspopup="true" aria-expanded="false"> Announcements</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Blogs &amp; Writings</a>
              <a class="dropdown-item" href="#">Events</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn" href="hwarang_foundation" >Hwarang Foundation</a>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prizes and Honorees</a>
          </div>
        </li>
        <li class="nav-item">
            <div class="btn-group">
              <a href="#" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Nominations</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Science, Technology, Engineering, and Mathematics (STEM)</a>
                <a class="dropdown-item" href="#">Medicine</a>
                <a class="dropdown-item" href="#">Enviornmental Service</a>
                <a class="dropdown-item" href="#">Huminatarian Servie &amp; Education</a>
                <a class="dropdown-item" href="#">International Relation</a>
              </div>
            </div>
        </li>
        <li class="nav-item">

          <div class="btn-group">
              <a href="#" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Photos	&amp; Videos</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Press &amp; Media</a>
              </div>
            </div>
        </li>
      </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voting</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
             <a class="btn" href="login">Member Login</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <img style="height: 2rem;" src="images/user-profile.png">
            </div>
          </li>
        </ul>
    </div>
  </div>
  <hr class="center" style="width: 90%;">
  

  <br/>
  <br/>

  </div>