<div id="first-screen">
  <div id="title-div">
    <h1 id="title-text" >Heroes and Legends</h1>
    <br/>
    <img id="title-logo" src="images/hwarang_artwork_logo_only_no_background.png" alt="Logo">
  </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 center-fit" src="images/zero-take-2E64559GMJo-unsplash.jpg" alt="First slide">
        </div>
      </div>
    </div>


</div>

{{> header}}

  <br/>
  <br/>

  <div class="row">
    <div class="col-md-12">
      <img src="images/DSC_0350.JPG" class="img-fluid main-photo" alt="...">
    </div>
  </div>
</div>


<p style="font-family: giveny;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur doloremque quod dicta velit odio inventore sapiente, eligendi alias libero veniam ipsam dolores voluptates voluptatem dolor, exercitationem, culpa eveniet molestiae rem. Maiores eaque voluptatem voluptatibus temporibus magni est iure esse deserunt vel numquam ipsum accusantium, nostrum itaque, doloremque dolor. Ullam.</p>
<p style="font-family: audrey;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero vero fugit commodi! Aliquid, excepturi voluptatem sapiente voluptate fuga qui autem? Aliquid obcaecati, ducimus eligendi atque laudantium, harum molestiae similique distinctio temporibus optio amet libero, itaque modi. Eum odit vel asperiores officiis enim dolores repudiandae illum? Error aliquid asperiores eligendi sunt?</p>

