<div class="container-fluid" style="padding: 0px !important;">
  <div class="row">
    <div class="col-md-12">
      <br/>
       <a href="#"><img id="title-logo-second" class="center" src="images/hwarang_background.png" alt="Logo"></a>
      <br/>
    </div>
  </div>

  <hr class="center" style="width: 90%;">
  
  <div class="row">
    <div class="col-md-7">
      <ul class="nav justify-content-center">
        <li>
          <div class="btn-group">
            <a href="/" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="announcements" class="btn" type="button" aria-haspopup="true" aria-expanded="false"> Announcements</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Blogs &amp; Writings</a>
              <a class="dropdown-item" href="#">Events</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn" href="hwarang" >Hwarang Foundation</a>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <div class="btn-group">
              <a href="prizes" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Prizes and Honorees</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Science, Technology, Engineering, and Mathematics (STEM)</a>
                <a class="dropdown-item" href="#">Medicine</a>
                <a class="dropdown-item" href="#">Enviornmental Service</a>
                <a class="dropdown-item" href="#">Huminatarian Servie &amp; Education</a>
                <a class="dropdown-item" href="#">International Relation</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
            <div class="btn-group">
              <a href="nomination" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Nominations</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Science, Technology, Engineering, and Mathematics (STEM)</a>
                <a class="dropdown-item" href="#">Medicine</a>
                <a class="dropdown-item" href="#">Enviornmental Service</a>
                <a class="dropdown-item" href="#">Huminatarian Servie &amp; Education</a>
                <a class="dropdown-item" href="#">International Relation</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="photos_videos" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Photos &amp; Videos</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Press &amp; Media</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voting</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
             <a class="btn" href="login">Member Login</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <img style="height: 2rem;" src="images/user-profile.png">
            </div>
          </li>
        </ul>
    </div>
  </div>
  <hr class="center" style="width: 90%;">
  </div>

  <div class="row" id="books">
  </div>

  <script type="text/javascript">
  
  const loadBooks = () => {
      const xhttp = new XMLHttpRequest();

      xhttp.open("GET", "/nomination_hold", false);
      xhttp.send();

      const category_name = JSON.parse(xhttp.responseText);
      console.log(category_name);
       const x = `
           <div class="row">
              <div class="col-md-12">
                <h1 style="text-align: center;">Nominations for ${category_name}</h1>
              </div>
              <hr class="center" style="width: 90%;">
            </div>

            <br/>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <h2>Nomination and Selection of ${category_name} Awardees</h2>
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <p>Nomination to the Hwarang Heroes and Legends in ${category_name} Award is by invitation only. The names of the nominees and other information about the nominations cannot be revealed until 5 years later.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <hr class="center" style="width: 90%;">

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <h2>Process of Nomination and Selection</h2>
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <p>NThe Hwarang Heroes and Legends Committee discusses the competent and qualified candidate during its monthly meetings.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <hr class="center" style="width: 90%;">

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <h2>Selection of Nobel Laureates</h2>
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <p>The Hwarang Heroes and Legends Award Committee is responsible for the selection of the Heroes and Legends in ${category_name}. The Committee screens the nominations and presents a proposal for final candidates. The committee consists nominally of eleven voting members, but since many years, it also includes voting adjunct members. The Committee’s final proposal is discussed in a larger body, the Hwarang Youth Foundation, who has the final voting to nominate the candidate. It is in principle possible to suggest that no Prize be given the current month, but that is a seldom used choice.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <hr class="center" style="width: 90%;">

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <h2>Who is eligible for the Hwarang Heroes and Legends Award in ${category_name}?</h2>
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <p>The candidates eligible for the ${category_name} Award are those nominated by the Committee or qualified persons who have received an invitation from the Hwarang Heroes and Legends Committee to submit names for consideration. No one can nominate himself or herself.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <hr class="center" style="width: 90%;">

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <h2>How are the Hwarang Heroes and Legends selected?</h2>
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <br/>
                <p>July – Deadline for submission. The completed nomination forms must reach the Hwarang Heroes and Legends Committee no later than 31 January of the following year. The Committee screens the nominations and selects the preliminary candidates. </p>
                <br/>
                <p>July – May</p>
                <ul>
                  <li>Week 1: Individual research on candidates of the member’s choice. In-person meeting on Saturday for discussing next month’s theme.</li>
                  <li>Week 2: Finalize the research and create a short 3-5 minute presentation to present during the meeting. At the meeting, present all the candidates, vote internally, and finalize the candidate by Saturday.</li>
                  <li>Week 3: Both departments begin the project. By Saturday, the Hwarang Summit President prepares for the approval voting process for Hwarang Youth Foundation Members. In addition, the research department must finish their work by Saturday.</li>
                  <li>Week 4: The approval voting is posted on the website for Hwarang members to vote. The voting window is five (5) days, from 12 A.M. Monday to 11:59 P.M. Friday of the last week of the month. On Saturday, the recipient is announced and prizes are sent in the following 1-2 weeks. The media department should finish their projects by the end of the month.</li>
                </ul>
                <br/>
                <p>May - June</p>
                <ul>
                  <li>Week 1: Create a ballot for all heroes of the month and for all legends of the month. Recruit new directors from Hwarang.</li>
                  <li>Week 2: Upload the ballots on the website and begin the voting process for Hwarang Youth Foundation Members. Votes should close by the end of the week.</li>
                  <li>Week 3: Send out the gala invitation email and letters to “Hwarang Hero and Legend of the Year” recipients and families. The Media Department creates a short 1-2 minute introduction video on the “Hero of the Year” recipient and 3-5 minute commemoration video for the “Legend of the Year” recipient. The engraving of the statuette and naming of the diploma should begin.</li>
                  <li>Week 4: By end of week 4, statuette, diploma, and videos should be all ready. Nominations for the next President will start on the Monday of Week 4.</li>
                </ul>
                <br/>
                <p>June</p>
                <p>Nomination forms are sent out. The Hwarang Heroes and Legends Committee sends out confidential forms to around 3,000 people – selected leaders, politicians, and business people around the world.</p>
                <ul>
                  <li>Week 1: Everything must be ready by the end of the week. Check up constantly on the recipients of the award and their families on their gala attendance. Elect a new President for the next Hwarang Calendar Year. </li>
                  <li>Week 2: Training and transition of power for the President. The President must prepare a presentation and short 3-5 minute speech for the Gala.</li>
                  <li>Week 3: Gala</li>
                  <li>Week 4: Close the application for new directors.</li>
                </ul>
              </div>
              <div class="col-md-1"></div>
            </div>

            <hr class="center" style="width: 90%;">
        `

        document.getElementById('books').innerHTML = document.getElementById('books').innerHTML + x;



  }
  
  loadBooks();

</script>

  

