{{> header}}

<div class="row">
  <div class="col-md-12">
    <h1 style="text-align: center;">Photos and Videos</h1>
  </div>
  <hr class="center" style="width: 90%;">
</div>

<div class="row">
  <div class="col-md-12 cover-photos">
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Featured Photos and Videos</h3>
    <hr>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img style="height: 500px;" src="https://i.pinimg.com/originals/25/3b/d8/253bd8cec8919a7e90a1b4438200565b.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Photo/Video Title</h5>
            <p class="card-text">Author First Name, Last Name</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img style="height: 500px;" src="https://i.pinimg.com/236x/7a/35/fd/7a35fda2238e0f7856b482de0f241cf5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Photo/Video Title</h5>
            <p class="card-text">Author First Name, Last Name</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img style="height: 500px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ7gzUKyrywQINFXn1_OKxN2GAGJ4e3xjX6A&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Photo/Video Title</h5>
            <p class="card-text">Author First Name, Last Name</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<br/>
<br/>

<div class="container-fluid background-grey">
  <br/>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>View Other Photos and Videos</h3>
      <hr>
    </div>
    <div class="col-md-1"></div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br/>
</div>

{{> footer}}



