<div class="container-fluid" style="padding: 0px !important;">
  <div class="row">
    <div class="col-md-12">
      <br/>
       <a href="#"><img id="title-logo-second" class="center" src="images/hwarang_background.png" alt="Logo"></a>
      <br/>
    </div>
  </div>

  <hr class="center" style="width: 90%;">
  
  <div class="row">
    <div class="col-md-7">
      <ul class="nav justify-content-center">
        <li>
          <div class="btn-group">
            <a href="/" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="announcements" class="btn" type="button" aria-haspopup="true" aria-expanded="false"> Announcements</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Blogs &amp; Writings</a>
              <a class="dropdown-item" href="#">Events</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn" href="hwarang" >Hwarang Foundation</a>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <div class="btn-group">
              <a href="prizes" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Prizes and Honorees</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Science, Technology, Engineering, and Mathematics (STEM)</a>
                <a class="dropdown-item" href="#">Medicine</a>
                <a class="dropdown-item" href="#">Enviornmental Service</a>
                <a class="dropdown-item" href="#">Huminatarian Servie &amp; Education</a>
                <a class="dropdown-item" href="#">International Relation</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
            <div class="btn-group">
              <a href="nomination" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Nominations</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Science, Technology, Engineering, and Mathematics (STEM)</a>
                <a class="dropdown-item" href="#">Medicine</a>
                <a class="dropdown-item" href="#">Enviornmental Service</a>
                <a class="dropdown-item" href="#">Huminatarian Servie &amp; Education</a>
                <a class="dropdown-item" href="#">International Relation</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a href="photos_videos" class="btn" type="button" aria-haspopup="true" aria-expanded="false">Photos &amp; Videos</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Press &amp; Media</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voting</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
             <a class="btn" href="login">Member Login</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <img style="height: 2rem;" src="images/user-profile.png">
            </div>
          </li>
        </ul>
    </div>
  </div>
  <hr class="center" style="width: 90%;">
</div>

<div class="row">
  <div class="col-md-12">
    <h1 style="text-align: center;">Photos and Videos</h1>
  </div>
  <hr class="center" style="width: 90%;">
</div>

<br />

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>Featured Awardees</h3>
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img style="height: 500px;" src="https://i.pinimg.com/originals/25/3b/d8/253bd8cec8919a7e90a1b4438200565b.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Photo/Video Title</h5>
            <p class="card-text">Author First Name, Last Name</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img style="height: 500px;" src="https://i.pinimg.com/236x/7a/35/fd/7a35fda2238e0f7856b482de0f241cf5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Photo/Video Title</h5>
            <p class="card-text">Author First Name, Last Name</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img style="height: 500px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ7gzUKyrywQINFXn1_OKxN2GAGJ4e3xjX6A&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Photo/Video Title</h5>
            <p class="card-text">Author First Name, Last Name</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<br/>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>View Other Photos</h3>
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>

<br/>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://icons.iconarchive.com/icons/roundicons/100-free-solid/512/image-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<br/>



