{{> header}}

<div class="row">
  <div class="col-md-12">
    <h1 style="text-align: center;">Prizes and Honorees - (Category Name)</h1>
  </div>
  <hr class="center" style="width: 90%;">
</div>

<br />

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>Featured Honoree for Science, Technology, Engineering, and Mathematics (STEM)</h3>
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <img style="max-width:100%; max-height:100%;"
      src="https://www.anchormortgagellc.com/wp-content/uploads/2015/09/placeholder.png">
  </div>
  <div class="col-md-5">
    <h4>Science, Technology, Engineering, and Mathematics (STEM)</h4>
    <br />
    <h5 style="font-size: 20px;">First Name, Last Name</h5>
    <br />
    <p style="font-size: 20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur enim, minus quam
      explicabo nam ipsa voluptatem! Ab nulla culpa atque earum deserunt veniam impedit sunt corporis repudiandae,
      fugiat vel? Reprehenderit neque fuga temporibus ex corporis nostrum nesciunt ratione illo ut cum inventore, minus
      perspiciatis repudiandae laborum molestias, ab voluptates rerum veritatis incidunt. Blanditiis error illum
      mollitia beatae unde eius. Qui, consectetur enim consequatur tempora fuga aspernatur magnam animi at est neque
      quaerat cum debitis sint quam maiores impedit numquam temporibus illum, delectus sequi accusantium quo. At, beatae
      saepe quisquam hic, assumenda quibusdam porro incidunt id omnis nesciunt minus, dolor quae.</p>
    <br/>
    <a href="#">Learn More</a>
  </div>
  <div class="col-md-1"></div>
</div>

{{!-- STEM --}}

 <br/>

 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <hr>
    <h3>Previous Honorees for Science, Technology, Engineering, and Mathematics (STEM)</h3>
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>

 <div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10">
     <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://www.anchormortgagellc.com/wp-content/uploads/2015/09/placeholder.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">First Name, Last Name</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro nam deleniti corporis mollitia quo aliquam rerum beatae numquam nobis ab! Illo deleniti a sunt nulla repudiandae unde ab aperiam at sint molestiae tempora, excepturi illum commodi fugit accusamus nemo consectetur esse! Id molestias sit neque necessitatibus, ab nobis omnis natus!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://www.anchormortgagellc.com/wp-content/uploads/2015/09/placeholder.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">First Name, Last Name</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro nam deleniti corporis mollitia quo aliquam rerum beatae numquam nobis ab! Illo deleniti a sunt nulla repudiandae unde ab aperiam at sint molestiae tempora, excepturi illum commodi fugit accusamus nemo consectetur esse! Id molestias sit neque necessitatibus, ab nobis omnis natus!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://www.anchormortgagellc.com/wp-content/uploads/2015/09/placeholder.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">First Name, Last Name</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro nam deleniti corporis mollitia quo aliquam rerum beatae numquam nobis ab! Illo deleniti a sunt nulla repudiandae unde ab aperiam at sint molestiae tempora, excepturi illum commodi fugit accusamus nemo consectetur esse! Id molestias sit neque necessitatibus, ab nobis omnis natus!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#">Learn More</a></small>
          </div>
        </div>
      </div>
    </div>
   </div>
   <div class="col-md-1"></div>
 </div>

<br/>



