@font-face {
    font-family: giveny;
    src: url('fonts/Giveny.ttf');
}

@font-face {
    font-family: audrey;
    src: url('fonts/Audrey-Normal.otf');
}

html, body { 
    height: 100%; 
}

* {
    /* overflow: hidden; */
    font-family: giveny;
    margin:0;
    padding:0;

}

.slide-out-top {
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation-delay: 0.2s;
}

.slide-in-bottom {
            display: block !important;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.6s;
}

.text-focus-in {
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.animation-button {
    position: absolute;
    width: 100%;
    top: 70%;
    color: white;
    font-size: 2rem;
    position: relative;
    
    cursor: pointer;
}


@keyframes slide-in-bottom {
    0% {
              transform: translateY(0);
    }
    100% {
              transform: translateY(-900px);
    }
  }

@keyframes slide-out-top {
  0% {
            transform: translateY(0);
    opacity: 1;
  }
  100% {
            transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes text-focus-in {
    0% {
              filter: blur(12px);
      opacity: 0;
    }
    100% {
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
.animation-section {
    position: relative; 
    z-index: 100;
    display: none;
}


#title-div {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    z-index: 1;
}

#title-text {
    position: absolute;
    width: 100%;
    top: 55%;
    color: white;
    font-size: 3rem;
}

#title-logo {
    position: relative;
    height: 5.5rem;
    text-align: center;
    
    top: 35%;
}

#title-logo-second {
    height: 7rem;
    text-align: center;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#first-screen {
    height: 100%;
    position: relative;
}

img {
    background-repeat: no-repeat !important;
}

a {
    color: #313131 !important;
    font-size: 1.5rem;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item-links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.09244rem;
    line-height: 1;
    line-height: 13px;
    padding: 3px 1.0084rem;
    cursor: pointer;
}

.dropdown-item {
    font-size: 1rem;
}

a:hover,
div.dropdown:hover {
    color: #6e6c6c !important;
    text-decoration: underline !important;
}

.background-grey {
    background-color: #f7f7f7 !important;
}

.main-photo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 20px;
}

.blurb {
    margin-right: auto;
    margin-left: auto;
    max-width: 1056px;
    left: 0;
    right: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* footer */

.copyright-content {
    border-top: 1px solid #222;
    min-height: 80px;
    padding: 30px 0;
    background-color: #efefef;
}

/* footer */

/* cover foundtation */

.cover-foundation {
    border: 2px solid black;
    background: url('../../images/andrea-de-santis-t8PERbP5w-U-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}

/* cover prizzes */

.cover-prizes {
    border: 2px solid black;
    background: url('../../images/ngan-lee-oBvkcyalZKY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}

/* cover nominations */

.cover-nominations {
    border: 2px solid black;
    background: url('../../images/zero-take-2E64559GMJo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}


/* cover nominations-category */

.cover-nomination-category {
    border: 2px solid black;
    background: url('../../images/zero-take-13edOTia3a4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}

/* cover photos */

.hover-red:hover {
    color: red !important;
} 

.hover-color:hover {
    color: red !important;
}

.hover-color:hover .hover-red {
    color: red !important;
}

.cover-photos {
    border: 2px solid black;
    background: url('../../images/zero-take-UMnldnoegiA-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}

.top-announcement {
    border: 2px solid black;
    padding: 25px;
    background: url('../../images/markus-winkler-PydfefMY8GQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}

.bottom-announcement {
    border: 2px solid black;
    padding: 25px;
    background: url('../../images/chan-hyuk-moon-ULUNsi4L21Q-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 400px;
}

#blogs_announcements {
    background-color: transparent;
    color: white;
}
#blogs_announcements:hover {
    font-weight: bold !important;
}
/* LOGIN PAGE */


/* index page dropdown */
/* Dropdown Button */
.dropbtn {
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    font-size: 1rem;
    border-radius: .25rem;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    margin-left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */



ul,
li {
    margin: 0;
    list-style-type: none
}

input {
    outline: none;
    border: none
}

textarea {
    outline: none;
    border: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

textarea:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder {
    color: transparent
}

textarea:focus::-moz-placeholder {
    color: transparent
}

textarea:focus:-ms-input-placeholder {
    color: transparent
}

input::-webkit-input-placeholder {
    color: black
}

input:-moz-placeholder {
    color: black
}

input::-moz-placeholder {
    color: black
}

input:-ms-input-placeholder {
    color: black
}

textarea::-webkit-input-placeholder {
    color: black
}

textarea:-moz-placeholder {
    color: black
}

textarea::-moz-placeholder {
    color: black
}

textarea:-ms-input-placeholder {
    color: black
}

label {
    margin: 0;
    display: block
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1
}



.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    background: #9152f8;
    background: white;
    background: white;
    background: white;
    background: white;
    box-shadow: outset 0px 0px 40px 40px #ffffff;
}

.login100-form {
    width: 100%
}

.login100-form-logo {
    font-size: 60px;
    color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto
}

.login100-form-title {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, .24);
    margin-bottom: 30px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: black;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
}

.input100::placeholder{
    color: white;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    background: black;
}

.input100:focus {
    padding-left: 5px
}

.input100:focus+.focus-input100::after {
    top: -22px;
    font-size: 18px
}

.input100:focus+.focus-input100::before {
    width: 100%
}

.has-val.input100+.focus-input100::after {
    top: -22px;
    font-size: 18px
}

.has-val.input100+.focus-input100::before {
    width: 100%
}

.has-val.input100 {
    padding-left: 5px
}

.contact100-form-checkbox {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px
}

.input-checkbox100 {
    display: none
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: black;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer
}

.label-checkbox100::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: black;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #555
}


.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #9152f8;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    background: linear-gradient(bottom, #7579ff, #b224ef);
    position: relative;
    z-index: 1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.login100-form-btn:hover {
    color: black
}

.login100-form-btn:hover:before {
    opacity: 0
}

@media(max-width:576px) {
    .wrap-login100 {
        padding: 55px 15px 37px
    }
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: black;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media(max-width:992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

/* LOGIN PAGE */



/* TIMELINE */
section {
    padding: 100px 0;
}
header {
    background: #3f51b5;
    color: #fff;
    padding: 150px 0;
}
header p {
    font-family: 'Allura';
    color: rgba(255, 255, 255, .2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px;
}
.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    background: red;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}
.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}
.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}
.timeline-img {
    width: 30px;
    height: 30px;
    background: hsl(357,70%,42%);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.timeline-card {
    padding: 0 !important;
}
.timeline-card p {
    padding: 0 20px;
}
.timeline-card a {
    margin-left: 20px;
}
.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
    background-size: cover;
}
.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.timeline-img-header h2 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3f51b5;
    padding: 0 20px;
}
.date {
    background: #ff4081;
    display: inline-block;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
   }
    .timeline .timeline-img {
        left: 50px;
   }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
   }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
   }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
   }
}
