* {
    /* overflow: hidden; */
    font-family: "Alfred Sans Regular","Helvetica Neue","Arial",sans-serif !important;
}

#carouselExampleFade {
    position: relative;
    z-index: -10;
    height: 100%;
    pointer-events: none;
}

#title-div {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

#title-text {
    position: absolute;
    width: 100%;
    top: 60%;
    color: white;
    font-size: 3rem;
    pointer-events: none;
}

#title-logo {
    position: relative;
    height: 5.5rem;
    text-align: center;
    z-index: 10;
    top: 40%;
    pointer-events: none;
}

#title-logo-second {
    height: 7rem;
    text-align: center;
    pointer-events: none;
}

#first-photo {
    filter: grayscale(100%);
}

img {
    background-repeat: no-repeat !important;
}

a {
    color: #313131 !important;
    font-size: 1.5rem;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item-links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.09244rem;
    line-height: 1;
    line-height: 13px;
    padding: 3px 1.0084rem;
    cursor: pointer;
}

.dropdown-item {
    font-size: 1rem;
}

a:hover, div.dropdown:hover {
    color: #6e6c6c !important;
    text-decoration: underline !important;
}

.main-photo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


